@import "tailwindcss";

:root {
  --background: #f5f5f5;
  --column-bg: #ebf0f0;
  --high-tag: #f0d2d2;
  --high-text: #d05555;
  --medium-tag: #f5e6d2;
  --medium-text: #de984c;
  --low-tag: #e6e6eb;
  --low-text: #797f8c;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-column-bg: var(--column-bg);
  --color-high-tag: var(--high-tag);
  --color-high-text: var(--high-text);
  --color-medium-tag: var(--medium-tag);
  --color-medium-text: var(--medium-text);
  --color-low-tag: var(--low-tag);
  --color-low-text: var(--low-text);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
